.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222222;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}
/* ******************************* */

/* SEARCH INPUT STUFF */
.search-field {
  align-items: center;
  position: relative;
  max-width: 180px;

  top: 0px;
}

.search-input {
  width: 100%;
  height: 30px;
  line-height: 8px;
  padding: 0 2rem;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #f6f6f6;
  color: #242424;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #ffffff75;
  letter-spacing: 0.5px;
}

.input:focus,
input:hover {
  border-color: #262626;
  background-color: #ffffff;
  box-shadow: 0 0 0 4px #ffffff2a;
}

/* search icon */
.icon {
  position: absolute;
  padding: 5px 8px 4px 8px;
  fill: #ffffff;
  width: 1rem;
  height: 1rem;
  text-align: center;
}

/* INFO DISPLAY STUFF | GRID OR TABLE */
.info-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stick {
  float: inherit;
  position: fixed;
  width: auto;
  z-index: 5;
}

/* TEXT STYLES */
h1 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.4;
}
.h1 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.4;
}

h2,
li {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.8px;
}

p {
  color: #4b4b4b;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.title {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: normal;
  margin: 16px 0 16px 0px;
  width: 100% !important;
  text-wrap: wrap;
  /* Limit text overflow (trancate text) | for the purpose of card size (UI)*/
  overflow: hidden;
  -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 display: -webkit-box;
}
.country-name {
  width: 100px;
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
  padding: 0;
}

ul {
  list-style: none;
  left: 0;
  /* margin-left: 0px; */
  padding: 0;
  margin: 0;
}

/* Card & flags + contents */
.card {
  width: 210px;
  max-height: 280px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: #00000031 0px 12px 15px -2px, rgba(0, 0, 0, 0.029) 0px 5px 5px -2px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  align-items: center;
  align-content: center;
  text-align: center;
  text-decoration: none;
  
}

.card:hover {
  transform: scale(1.01);
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: #0000000e 0px 20px 25px -5px, #0000000a 0px 10px 10px -5px;
  
}

.flag-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  overflow: hidden;
  border-radius: 12px;
  
}
.main-flag {
  height: 100dvh;
  width: 100dvw;
  border-radius: 0.4rem;
  object-fit: fill;
  overflow: visible;
  border-radius: 12px;
  
}

.country-img {
  height: 60vh;
  width: 45vw;
  object-fit: contain;
  box-shadow: #64646f43 0px 7px 29px 0px;
}



.card-img {
  display: flex;
  width: 100%;
  height: 140px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  
}

/* car d information/ text */
.info {
  padding: 0 16px 0 16px;
  padding-top: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-self: self-start;
  text-align: left;
  font-weight: bold;
  
}

.text {
  text-align: left;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  /* gap when there's an icon */
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
}

.glass {
  background: #ffffff21;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid #ffffff54;
}

.country-info {
  width: 40%;
  max-width: 50%;
  /* 
  display: flex; */
  gap: 64px;

  display: inline;
  position: relative;
}
.country-details {
  display: flex;
  gap: 46px;

  justify-content: center;
  align-items: center;
}
.wrap{
  /* flex-grow: 1; */
  width: 30%;
  flex-wrap: wrap;
  word-wrap: break-word;
}
.main-wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-info{
  text-align: center; 
  background-color: #a15555;
  position: absolute;
  width: 90%;
  flex-wrap: wrap;
  word-wrap: break-word;
  font-weight: bolder;
  font-size: 50px;
  color: #3a3a3a;
}

.wrap-text {
  font-weight: bolder;
  align-items: center;
  justify-content: center;

text-align: center;  font-size: 180px;
}

.country-paragraph {
  /* text-align: center; */
  font-weight: bolder;
  /* font-size: 20px; */
  color: #000000;
  text-decoration: none;
  list-style: none;
}


.expand {
  flex-grow: 1;
}

/* OTHER STUFF */

.left {
  left: 0;
  float: left;
}

.right {
  right: 24px;
  float: right;
}

/* Menu bar */
.menu {
  background: #ff1818;
  color: #fff;
  height: 45px;
  padding-left: 18px;
  border-radius: 0px;
  width: 100vw;
}
.menu ul,
.menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.menu ul {
  width: 100%;
}
.menu li {
  float: left;
  display: inline;
  position: relative;
}
.menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
.menu li a:hover {
  color: #242424;
  background: #f2f2f2;
}
.menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
.menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
.menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
.menu ul.sub-menus li {
  display: block;
  width: 100%;
}
.menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
.menu li:hover ul.sub-menus {
  display: block;
}
.menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}

/* buttons */
.cta-btn {
  font-weight: bold;
  font-size: 14px;
  color: #f8f8f8;
  background-color: #1e1e1e;
  padding: 10px 30px;
  border: solid #202020 2px;
  transition: 0.6s;
  transform: translateY(0);
  /* display: flex;
  flex-direction: row; */
  align-items: center;

  margin: 12px 12px 0px 0px;
  gap: 12px;
}

.cta-btn:hover {
  transition: 1000ms;
  padding: 10px 24px;
  transform: translateY(-0px);
  background-color: #eeeeee6a;
  border: solid 2px #000;
  color: #111;
  cursor: pointer;
}
